body {
    background-image: linear-gradient(to bottom right, #01a3da, #15e8ff);
    min-height: 100%;
}

html {
    min-height: 100%;
}

.color-text{
    color: #01a3da;
}

.content-block {
    display: none;
    position: relative;
    top: 20px;
}

.mh-100px {
    max-height: 100px;
}

.nav-link {
    transition: 0.5s;
}

.nav-img {
    max-height: 30px;
}

.sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar-active {
    width: 200px;
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a.active {
    color: #BBBBBB
}
  
.sidebar a:hover {
    color: #f1f1f1;
}